.ActiveQuiz {
  padding: 20px;
  border: 2px solid #fff;
  color: #fff;
  box-sizing: border-box;
  margin: 0 10px;
  border-radius: 5px;
}

.Question {
    display: flex;
    justify-content: space-between;
}